@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=devide-width" />
    <title>@ViewBag.TiTuloPagina</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.css" />
    <script src="~/Scripts/ClientesScripts/ValidarCadastros.js"></script>
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>

