@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.TituloPagina</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/fontawesome-free-5.2.0-web/css/all.css" />

    <script src="~/Scripts/Aluno/Cadastro.js"></script>

</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>

