
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.TituloPagina</title>
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/all.css" />
    <script src="~/Scripts/Recrutadora/cadastro.js"></script>
</head>
<body>
    <div class="container-fluid">
        @RenderBody() 

    </div>
</body>
</html>
