
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang=" pt-br">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Hello World - @ViewBag.Nome - @ViewBag.Idade</h1>
    </div>
</body>
</html>
                   